.app__header {
  text-align: center;
 }

.app__wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 2px solid grey;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 5px;
}

.app-result__wrapper {
  padding: 5px;
  flex: 1 0 50px;
  background-color: black;
  color: white;
  font-size: 24px;
  align-content: left;
  text-align: right;
}

.app-choices__wrapper {
  flex: 2 0 200px;
}

